:root {
    --uni-font-family: Arial,
        Helvetica,
        sans-serif;
    --min-width: 360px;
    --max-width: 60%;
}

*,
h1,
h2,
h3,
h4,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--uni-font-family);
    width: 100vw;
    height: 100vh;
}

.container {
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.board-header {
    margin: 0 auto;
}

.board-header .btn i {
    font-size: 2rem;
}

.card {
    margin: 0 auto;
    margin-bottom: .5rem;
}

.card-body {
    display: grid;
    grid-template-columns: .5fr 3fr .5fr .5fr;
    align-items: center;
}

.card-body .title a,
.pin {
    font-size: 1.5rem;
}

.modal-link:hover {
    cursor: pointer;
}

.board-footer .navbar {
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

.card.selected {
    background-color: gray;
}

.toggle-delete-btn {
    display: none;
}