:root {
    --uni-font-family: Arial,
        Helvetica,
        sans-serif;
    --max-width: 30rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--uni-font-family);
    width: 100vw;
    height: 100vh;
}

.task-header {
    max-width: var(--max-width);
}

.task-header .btn i {
    font-size: 2rem;
}

.card {
    max-width: var(--max-width);
    margin-bottom: .5rem;
}

.status-btn .s-circle {
    float: right;
}